/.venv/
__pycache__/
*.egg-info/
build/
dist/

# 前端构建相关
/core/vue/node_modules/
/core/vue/dist/
/core/vue/.vite/
/core/vue/npm-debug.log*
/core/vue/yarn-debug.log*
/core/vue/yarn-error.log*

.DS_Store