include CONSTITUTION.md
include README.md
include LICENSE
include assets/icon.png
include config/env
recursive-include script *.py
recursive-include core *.py
recursive-include evolver *.py
recursive-include vue *
prune vue/node_modules